$main-background: #393939;
$light-background:#fff;
$text-main: #3a3633;
$text-light: #fff;
$border-light: #d9d9d9;
$border-dark: #666666;

//buttons
$main-btn-color:#f5ae30;
$support-btn-color: lighten(#f5ae30, 20%);
$btn-outline: rgba(240,198,54,1);
$border-top-color: rgba(253,231,174,1);
